<!-- CALENDAR -->
<%= month_calendar events: @big_rooms, :start_day => :monday do |date, big_rooms| %>
<small>
  <%= l(date, format: '%A %d') %>
</small>
<% big_rooms.each do |big_room| %>
<div class='simple-calendar'>
  <div class='divTable greyTable'>
    <%= content_tag :div, class: 'divTableRow', id: dom_id(big_room) do %>
    <%= render big_room %>
    <% end %>
  </div>
</div>
<% end %>
<% end %>
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>