<div class='divTableCell'><%= meeting_room.code %></div>
<div class='divTableCell'>
    <%= link_to meeting_room do %>
    <%= meeting_room.name %>
    <% end %>
</div>
<div class='divTableCell'><%= meeting_room.description %></div>