<div class='container-fluid'>
    <div class='row'>
        <div class='col col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <%= render 'shared/navbar' %>
        </div>
    </div>
    <div class='row'>
        <div class='col col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12'>
            <%= yield %>
        </div>
    </div>
</div>