<div class='col col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 xs-12'>
    <div class='panel panel-primary'>
        <div class='panel-body'>
            <div id='text-centered'>
                <h2>
                    <strong id='text-primary'>DBooking</strong>
                    <br>
                    <h6>
                        DBooking
                        <br>
                        versione 1.0.0 (2020)
                    </h6>
                </h2>
                <p>
                    <strong>
                        applicativo web per la gestione delle prenotazioni delle sale riunioni e conferenze
                    </strong>
                </p>
                <hr class='hr-primary'>
            </div>
            <p>
                <small>
                    Analisi e programmazione :
                </small>
                <br>
                <strong>
                    Davo Davosky
                </strong>
                <br>
                <br>
                <small>
                    Consulenza organizzativa :
                </small>
                <br>
                <strong>
                    Cristina Gasparini
                </strong>
            </p>
            <hr class='hr-primary'>
            <p>
                <small>
                    <strong>C.E.S.I. C.G.I.L. Friuli Venezia Giulia</strong> -
                    Via Antonio Vidali,1 - 34129 Trieste (TS)
                    E-Mail: assistenza@fvg.cgil.it Tel: +39 335 6633128
                </small>

            </p>
        </div>
    </div>
</div>