<div class='col col-lg-6 col-lg-offset-3 col-md-12 col-sm-12 col-xs-12'>
    <%= inline_svg_tag('main_logo.svg', size: '386px * 238px', preserve_aspect_ratio: 'xMaxYMax meet') %>
    <hr class='hr-primary' />
    <strong>
        Camera Confederale del Lavoro della Provincia di Udine
    </strong>
</div>